.sour-gummy-uniquifier {
    font-family: "Sour Gummy", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.dynapuff-uniquifier {
    font-family: "DynaPuff", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 87.5;
}
h1 {
    font-family: "DynaPuff", sans-serif;
    text-align: center;
    font-size: 3em;
    color: white;
    text-shadow:
        0 0 5px #ad49e1,
        0 0 10px #ad49e1,
        0 0 20px #ad49e1,
        0 0 40px #ad49e1,
        0 0 80px #ad49e1;
}
h2 {
    font-family: "DynaPuff";
    text-align: center;
    font-size: 2.75em;
    color: white;
    text-shadow:
        0 0 5px #ad49e1,
        0 0 10px #ad49e1,
        0 0 20px #ad49e1,
        0 0 40px #ad49e1,
        0 0 80px #ad49e1;
    font-weight: 100;
}
body {
    background-color: #ebd3f8;
}
p {
    color: #2e073f;
    background-color: #f1eaff;
    border: 2px solid white;
    padding: 20px;
    max-width: 900px;
    box-shadow:
        0 0 1px #ad49e1,
        0 0 2px #ad49e1,
        0 0 4px #ad49e1,
        0 0 8px #ad49e1,
        0 0 16px #ad49e1;
    text-align: left;
    margin: 0 auto;
    display: block;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
text{
    color: #2e073f;
    background-color: #f1eaff;
    border: 2px solid white;
    padding: 20px;
    max-width: 900px;
    box-shadow:
        0 0 1px #ad49e1,
        0 0 2px #ad49e1,
        0 0 4px #ad49e1,
        0 0 8px #ad49e1,
        0 0 16px #ad49e1;
    text-align: left;
    margin: 0 auto;
    display: block;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
}
.column {
    flex: 1;
    padding: 10px;
}
hr {
    border: none;
    height: 2px;
    background-color: white;
    margin: 20px 0;
    box-shadow:
        0 0 5px #ad49e1,
        0 0 10px #ad49e1,
        0 0 20px #ad49e1,
        0 0 40px #ad49e1,
        0 0 80px #ad49e1;
}
h3 {
    font-family: "Sour Gummy";
    text-align: left;
    font-size: 2em;
    color: white;
    text-shadow:
        0 0 5px #ad49e1,
        0 0 10px #ad49e1,
        0 0 20px #ad49e1,
        0 0 40px #ad49e1,
        0 0 80px #ad49e1;
    font-weight: 100, bold;
}
h4 {
    font-family: "Sour Gummy";
    text-align: left;
    font-size: 1.7em;
    color: white;
    text-shadow:
        0 0 5px #ad49e1,
        0 0 10px #ad49e1,
        0 0 20px #ad49e1,
        0 0 40px #ad49e1,
        0 0 80px #ad49e1;
    font-weight: 100, bold;
}
iframe {
   max-width: 100%;
}
